.buildkite
.gitattributes
.github
.gitleaksignore
.jscpd.json
.licenserc.json
.mega-linter.yml
.pre-commit-config.yaml
.secretlintrc.json
.serena
.specify
.yamllint.yml
AGENTS.md
catalog-info.yaml
codegen
eslint.config.js
renovate.json
scripts
specs
test
